In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [2]:
cols=["Page_total_likes","upload_type","upoad_cat","post_month","post_day","post_hour","paid","LTP_total_reach",
      "LTP_total_impressions","LTP_engaged_users","LTP_consumers","LTP_consumptions","LTP_impressions_by_followers",
      "LTP_reach_by_followers","LTP_followers_engaged_with_post","num_comments","num_likes","num_shares",
      "total_interactions"]
from_csv = pd.read_csv("C:\\Users\\bodap\\Desktop\\DataViz\\Hw2\\dataset_Facebook-table.csv",sep=',', header=None,
                         names=cols)
#print(dir(str))

for l in dir(from_csv):
    if (l.endswith('_') or l.startswith('_')):
        pass
    else:
        #print(l)
        pass

#from_csv.info()
#from_csv.dtypes
from_csv.describe()

,Page_total_likes,upload_type,upoad_cat,post_month,post_day,post_hour,paid,LTP_total_reach,LTP_total_impressions,LTP_engaged_users,LTP_consumers,LTP_consumptions,LTP_impressions_by_followers,LTP_reach_by_followers,LTP_followers_engaged_with_post,num_comments,num_likes,num_shares,total_interactions
count,501,501,501,501,501,501,500,501,501,501,501,501,501,501,501,501,500,497,501
unique,91,5,4,13,8,23,3,486,495,415,423,441,492,470,383,47,258,89,281
top,136393,Photo,1,10,7,3,0,9528,8533,537,374,431,5732,2174,403,0,98,13,0
freq,18,426,215,60,82,105,360,2,2,4,3,3,2,2,5,106,7,20,6

In [3]:
from_csv.head()

,Page_total_likes,upload_type,upoad_cat,post_month,post_day,post_hour,paid,LTP_total_reach,LTP_total_impressions,LTP_engaged_users,LTP_consumers,LTP_consumptions,LTP_impressions_by_followers,LTP_reach_by_followers,LTP_followers_engaged_with_post,num_comments,num_likes,num_shares,total_interactions
0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have l...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and e...,comment,like,share,Total Interactions
1,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79,17,100
2,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
3,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80
4,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777

In [4]:
#print(from_csv[from_csv.upload_type == "Photo"].head())
print(from_csv[from_csv.Page_total_likes == "136393"].head(2))

    Page_total_likes upload_type upoad_cat post_month post_day post_hour paid  \
120           136393       Photo         1         10        7        10    0
121           136393       Photo         1         10        7         9    0

    LTP_total_reach LTP_total_impressions LTP_engaged_users LTP_consumers  \
120             786                  1573               263           257
121             584                  1029               273           271

    LTP_consumptions LTP_impressions_by_followers LTP_reach_by_followers  \
120              318                         1401                    660
121              308                          943                    511

    LTP_followers_engaged_with_post num_comments num_likes num_shares  \
120                             222            0         6          2
121                             232            0         2        NaN

    total_interactions
120                  8
121                  2

In [5]:
from_csv.set_index('Page_total_likes', inplace=True)
from_csv.head()

,upload_type,upoad_cat,post_month,post_day,post_hour,paid,LTP_total_reach,LTP_total_impressions,LTP_engaged_users,LTP_consumers,LTP_consumptions,LTP_impressions_by_followers,LTP_reach_by_followers,LTP_followers_engaged_with_post,num_comments,num_likes,num_shares,total_interactions
Page_total_likes,,,,,,,,,,,,,,,,,,
Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have l...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and e...,comment,like,share,Total Interactions
139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79,17,100
139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80
139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777

In [6]:
print(from_csv.iloc[99]) #100th record
print('\n')
print(from_csv.iloc[[1, 50, 300,500]])

from_csv.reset_index(inplace=True)

upload_type                        Status
upoad_cat                               2
post_month                             10
post_day                                5
post_hour                               3
paid                                    1
LTP_total_reach                     12468
LTP_total_impressions               24917
LTP_engaged_users                    2143
LTP_consumers                        1966
LTP_consumptions                     2576
LTP_impressions_by_followers        15850
LTP_reach_by_followers               7636
LTP_followers_engaged_with_post      1661
num_comments                            7
num_likes                             310
num_shares                             61
total_interactions                    378
Name: 137020, dtype: object


                 upload_type upoad_cat post_month post_day post_hour paid  \
Page_total_likes
139441                 Photo         2         12        4         3    0
138353                  Link         1         12        2         2    0
124940                 Photo         1          6        7         4    0
81370                  Photo         2          1        4         4  NaN

                 LTP_total_reach LTP_total_impressions LTP_engaged_users  \
Page_total_likes
139441                      2752                  5091               178
138353                      1536                  3094                84
124940                      8324                 14480               840
81370                       4188                  7292               564

                 LTP_consumers LTP_consumptions LTP_impressions_by_followers  \
Page_total_likes
139441                     109              159                         3078
138353                      76               99                         2903
124940                     834             1388                        13786
81370                      524              743                         3861

                 LTP_reach_by_followers LTP_followers_engaged_with_post  \
Page_total_likes
139441                             1640                             119
138353                             1407                              76
124940                             7736                             662
81370                              2200                             316

                 num_comments num_likes num_shares total_interactions
Page_total_likes
139441                      4        79         17                100
138353                      1        12          1                 14
124940                      0        14          1                 15
81370                       0        91         28                119

In [7]:
#print(from_csv.count()) #Number of non-null values in each column
print(np.sum(from_csv['num_shares'].notnull()))
print("\n")
print(from_csv[~from_csv['num_shares'].notnull()])

print("\n")

print(from_csv[~from_csv['num_likes'].notnull()])

497


    Page_total_likes upload_type upoad_cat post_month post_day post_hour paid  \
112           136736       Photo         1         10        6         8    0
121           136393       Photo         1         10        7         9    0
125           136393       Photo         1         10        7         6    0
165           135428       Photo         1          9        5        10    0

    LTP_total_reach LTP_total_impressions LTP_engaged_users LTP_consumers  \
112            1261                  2158                37            37
121             584                  1029               273           271
125             677                  1285               251           246
165            1060                  2004               266           251

    LTP_consumptions LTP_impressions_by_followers LTP_reach_by_followers  \
112               49                         1911                   1077
121              308                          943                    511
125              297                         1210                    615
165              337                         1705                    870

    LTP_followers_engaged_with_post num_comments num_likes num_shares  \
112                              33            0       NaN        NaN
121                             232            0         2        NaN
125                             211            0         7        NaN
165                             204            0        18        NaN

    total_interactions
112                  0
121                  2
125                  7
165                 18


    Page_total_likes upload_type upoad_cat post_month post_day post_hour paid  \
112           136736       Photo         1         10        6         8    0

    LTP_total_reach LTP_total_impressions LTP_engaged_users LTP_consumers  \
112            1261                  2158                37            37

    LTP_consumptions LTP_impressions_by_followers LTP_reach_by_followers  \
112               49                         1911                   1077

    LTP_followers_engaged_with_post num_comments num_likes num_shares  \
112                              33            0       NaN        NaN

    total_interactions
112                  0

In [8]:
from_csv.drop(from_csv.index[[0]],inplace=True)
#from_csv.head()
print(from_csv.index)
print(from_csv.head())

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            491, 492, 493, 494, 495, 496, 497, 498, 499, 500],
           dtype='int64', length=500)
  Page_total_likes upload_type upoad_cat post_month post_day post_hour paid  \
1           139441       Photo         2         12        4         3    0
2           139441      Status         2         12        3        10    0
3           139441       Photo         3         12        3         3    0
4           139441       Photo         2         12        2        10    1
5           139441       Photo         2         12        2         3    0

  LTP_total_reach LTP_total_impressions LTP_engaged_users LTP_consumers  \
1            2752                  5091               178           109
2           10460                 19057              1457          1361
3            2413                  4373               177           113
4           50128                 87991              2211           790
5            7244                 13594               671           410

  LTP_consumptions LTP_impressions_by_followers LTP_reach_by_followers  \
1              159                         3078                   1640
2             1674                        11710                   6112
3              154                         2812                   1503
4             1119                        61027                  32048
5              580                         6228                   3200

  LTP_followers_engaged_with_post num_comments num_likes num_shares  \
1                             119            4        79         17
2                            1108            5       130         29
3                             132            0        66         14
4                            1386           58      1572        147
5                             396           19       325         49

  total_interactions
1                100
2                164
3                 80
4               1777
5                393

In [9]:
#from_csv.columns
#print(from_csv.sum(axis=0,numeric_only=True))

for column in from_csv:
    if(column!='upload_type'):
       from_csv[column] = from_csv[column].astype(float) 
       if(np.sum(from_csv[column].isnull())>0):
         # print(column) 
          s=from_csv[column].mean();
          from_csv.loc[from_csv[column].isnull(),column]=s; 
       else:
          pass

In [33]:
#Practice code
df=pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
print(df)

print(df.loc[2,'A'])

for column in df:
    print(df.loc[2,column])

          A         B         C         D
0 -1.794551  0.933169  0.864230 -0.614868
1  0.233849  0.067401 -1.322999 -1.681193
2 -1.216606 -0.617973 -1.224187 -0.311639
3 -0.201195  0.583708  1.536971  0.928003
4 -1.165696  0.934510  2.465627  1.277129
5 -1.092274 -0.491547  0.781389  1.038135
6  0.921188 -0.308176  0.441767  0.471258
7 -2.096904 -1.087175 -0.066637 -0.901189
-1.2166059301
-1.2166059301
-0.617972816819
-1.2241866365
-0.311639337842

In [30]:
unique_pageids=list(from_csv.Page_total_likes.unique())

unique_upload_types=list(from_csv.upload_type.unique())
print(unique_upload_types)

#print unique_pageids
print ("Number of uniwue pages: ",len(unique_pageids)) 
print("Number of rows in from_csv: ",len(from_csv.index))
#print(from_csv.columns)
for i in xrange(1,len(from_csv.index)+1):
    from_csv.loc[i,'page_id']=unique_pageids.index(from_csv.loc[i,'Page_total_likes'])+1
    
#print(from_csv.head())
#print(from_csv.tail())
from_csv.to_csv('C:\\Users\\bodap\\OneDrive\\Documents\\Papers_WinterBreak\\Pandas\\cleaned_facebook.csv', 
                sep=',', encoding='utf-8')

('Number of uniwue pages: ', 90)
('Number of rows in from_csv: ', 500)

In [80]:
photos=np.zeros((1,len(unique_pageids)));
status=np.zeros((1,len(unique_pageids)));
links=np.zeros((1,len(unique_pageids)));
videos=np.zeros((1,len(unique_pageids)));
total_posts=np.zeros((1,len(unique_pageids)));

page_ids=range(1,len(unique_pageids)+1)
for ind,page_id in enumerate(unique_pageids):
    for i in xrange(1,len(from_csv.index)+1):
        if(from_csv.loc[i,'Page_total_likes']== page_id):
            if(from_csv.loc[i,'upload_type'] =='Photo'):
                photos[0,ind]=photos[0,ind]+1;
            elif(from_csv.loc[i,'upload_type'] =='Status'):
                status[0,ind]=status[0,ind]+1;
            elif(from_csv.loc[i,'upload_type'] =='Link'):
                links[0,ind]=links[0,ind]+1;
            else:
                videos[0,ind]=videos[0,ind]+1
for ind in xrange(0,len(unique_pageids)):
    total_posts[0,ind]=photos[0,ind]+status[0,ind]+links[0,ind]+videos[0,ind];

In [82]:
d={'Page_total_likes':unique_pageids,
  'photos':photos[0],
   'status':status[0],
   'links':links[0],
   'videos':videos[0],
    'total_posts':total_posts[0]};                

cols=['Page_total_likes','photos','status','links','videos','total_posts'];
new_df=pd.DataFrame(d)
new_df=new_df[cols]
new_df.to_csv('C:\\Users\\bodap\\OneDrive\\Documents\\Papers_WinterBreak\\Pandas\\upload_stats_facebook.csv', 
                sep=',', encoding='utf-8')